/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run ecseq/rnaseq -profile test
 */

params {

    bamQC = true

    reference = "https://github.com/ecSeq/datasets/raw/RNAseq/ce11.fa"
    features = "https://github.com/ecSeq/datasets/raw/RNAseq/ce11.gtf"
    samples = "https://github.com/ecSeq/datasets/raw/RNAseq/samples.tsv"
    control = "groupA"

    // set readPaths parameter (only available in test profile)
    readPaths = [['ERR1474664', ['https://github.com/ecSeq/datasets/raw/RNAseq/ERR1474664_1.fastq.gz','https://github.com/ecSeq/datasets/raw/RNAseq/ERR1474664_2.fastq.gz']],
                 ['ERR1474665', ['https://github.com/ecSeq/datasets/raw/RNAseq/ERR1474665_1.fastq.gz','https://github.com/ecSeq/datasets/raw/RNAseq/ERR1474665_2.fastq.gz']],
                 ['ERR1474666', ['https://github.com/ecSeq/datasets/raw/RNAseq/ERR1474666_1.fastq.gz','https://github.com/ecSeq/datasets/raw/RNAseq/ERR1474666_2.fastq.gz']],
                 ['ERR1474667', ['https://github.com/ecSeq/datasets/raw/RNAseq/ERR1474667_1.fastq.gz','https://github.com/ecSeq/datasets/raw/RNAseq/ERR1474667_2.fastq.gz']],
                 ['ERR1474668', ['https://github.com/ecSeq/datasets/raw/RNAseq/ERR1474668_1.fastq.gz','https://github.com/ecSeq/datasets/raw/RNAseq/ERR1474668_2.fastq.gz']],
                 ['ERR1474669', ['https://github.com/ecSeq/datasets/raw/RNAseq/ERR1474669_1.fastq.gz','https://github.com/ecSeq/datasets/raw/RNAseq/ERR1474669_2.fastq.gz']],
                 ['ERR1474670', ['https://github.com/ecSeq/datasets/raw/RNAseq/ERR1474670_1.fastq.gz','https://github.com/ecSeq/datasets/raw/RNAseq/ERR1474670_2.fastq.gz']],
                 ['ERR1474671', ['https://github.com/ecSeq/datasets/raw/RNAseq/ERR1474671_1.fastq.gz','https://github.com/ecSeq/datasets/raw/RNAseq/ERR1474671_2.fastq.gz']],
    ]

}
